.site-content {
    max-width: 80%;
    margin: auto;
}

@media screen {
    .project-container {
      display: grid;
      grid-row-gap: 3rem;
      grid-template-columns: 40% 60%;
    }
    .introduction-div{
      display: grid;
      grid-row-gap: 3rem;
      grid-template-columns: 40% 60%;
      margin-top: 3vw;
    }
  }

.introduction-header {
    font-family: 'Rubik', serif;
    font-size: 3vw;
    color: #5c3d2e;
    margin: 0;
    text-align: right;
}

.introduction-description {
    width: 95%;
    font-size: 20px;
    line-height: 2rem;
    color: #2d2424;
    margin: 0.5rem 0 1rem auto;
    text-align: right;
}

.profile-img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 1rem;
    border: #5c3d2e solid 3px;
    margin: 50px;
}

.project-description-container {
    padding-left: 2rem;
  }
  
  .project-title {
    font-family: 'Rubik', serif;
    font-size: 40px;
    margin: 0;
    color: #5c3d2e;
  }
  
  .languages-used {
    margin: 0 auto 1.5rem 3rem;
    font-size: 15px;
    color: #5c3d2e;
    font-style: italic;
  }
  
  .project-description {
    font-size: 20px;
  }